body {
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    90deg,
    RGB(202, 187, 143, 0.3) 0%,
    RGB(202, 187, 143, 0.5) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

h4,
h5 {
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center
}

.page-container {
  margin-bottom: 110px;
  margin-top: 50px;
}

.list-item {
  box-shadow: 5px 5px 10px RGB(192, 178, 131, 0.5);
}

.speaker {
  font-size: 0.8rem;
  opacity: 0.8;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee span {
  position: absolute;
  overflow: hidden;
  animation: marquee 5s linear infinite alternate;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-55%);
  }
}
