body {
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #f4f4f4;
}

option {
  padding: 10px;
  border-bottom: 1px solid #afafaf;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee span {
  position: absolute;
  overflow: hidden;
  animation: marquee 5s linear infinite alternate;
}
@keyframes marquee {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-50%);
  }
}
